.body {
    background-color: #87ae73;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, button, h1 {
    font-family: 'Nunito', sans-serif;
}

.gameContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
    justify-content: center;
}

.gameContainer > div {
    text-align: center;
}

.game-screen {
    border: 6px black solid;
    border-radius: 15px;
    width: 1000px;
    height: 350px;
    overflow: hidden;
}

.game-track {
    width: 150%;
    height: 100%;
}

.button-style {
    border: solid;
    border-style: groove;
    border-color: blue;
}

.hidden-div {
    display: none;
}

.video-container-div {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}