.body {
    background-color: #87ae73;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, button, h1 {
    font-family: 'Nunito', sans-serif;
}

.gameContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
    justify-content: center;
}

.gameContainer > div {
    text-align: center;
}

.game-screen {
    border: 6px #8C6F5A solid;
    border-radius: 15px;
    width: 1000px;
    height: 350px;
    overflow: hidden;
}

.game-track {
    width: 150%;
    height: 100%;
}

.hidden-div {
    display: none;
}

.video-container-div {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #8C6F5A;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #8C6F5A;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}